body{
    font-family: 'Roboto', sans-serif;
    background-color: #6e726c;
}

/* navbar css starts here  */
.bg-light{
    background-color:  #334a50!important;
}

.navbar-brand{
    z-index: 2;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
    color: #0af250!important;
}


.nav-link{
    color: #eff2f6!important;
    font-family: 'Noto Sans JP', sans-serif;
}

.nav-link:hover{
    color: #0e0e0e!important;
    background-color: #efc7c7;
 
    transition-duration: 200ms;
}

img.bankimg{
    height: 60px;
    width: 100px;
    }
    .fa-user:before {
        content: "\f007";
    }
    #lamba{
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
    }

/* navbar css ends here  */

.my-info{
    margin-top: 80px;
    padding: 2rem 5rem;
}

.btn-info{
    padding: 1rem 1.2rem;
    background-color: rgb(134, 183, 230)!important;
    color: rgb(29, 22, 22)!important;
    margin-left: 5px;
    padding: 0.75rem;
    transition: all 0.3s;
}

.btn-info:hover{
    background-color: rgb(101, 113, 227)!important;
}
#acc{
    color: white;
    display:inline-block;
text-align: center;
justify-content: center;}
.footer{
    margin-top: 5px;
    padding: 20px;
    color: white;
    background-color: #0e0e0e;
}