html {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

#lamba {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
}

/* navbar css starts here  */
.bg-light {
    background-color: #334a50 !important;
}

.navbar-brand {
    z-index: 2;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
    color: #8cff00 !important;
}


.nav-link {
    color: #eff2f6 !important;
    font-family: 'Noto Sans JP', sans-serif;
}

.nav-link:hover {
    color: #0e0e0e !important;
    background-color: #efc7c7;

    transition-duration: 200ms;
}

img.bankimg {
    height: 60px;
    width: 100px;
}

.fa-user:before {
    content: "\f007";
}

.bread {
    background-color: #efd2d2;
    margin-top: 77px;
    padding: 3px 24px;
    padding-top: 5px;
}

/* navbar css ends here  */


@media only screen and (max-width: 766px) {
    .banner-container {
        display: none;
    }
}

#sasta {
    display: flex;
    flex-direction: column;
    padding: 5px 150px;
    align-items: center;
    height: 660px;
}

#sasta::before {
    content: "";
    position: absolute;
    top: 70px;

    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
    background-color: #baecdb;
    height: 580px;
    width: 100%;
    z-index: -1;
    opacity: 1;
}

.lead {
    color: rgb(10, 9, 9);
}

h3 {
    color: rgb(247, 241, 241);
}

h1 {
    color: #0d0e0d;
}

#content {
    position: relative;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 5px;
}

.get-started {
    z-index: 1;
    opacity: 1;
    border: 2px solid black;
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    font-size: 162%;
    background-color: rgb(20, 19, 19);
    color: #039be5 !important;
    transition: 0.3s;
}

.get-started:hover {
    color: #0c0b0b !important;
    text-decoration: none;
    background-color: #74f23a;

}

/* here content css starts here  */

/* get-started-buttons css starts here*/
.get-started-content {
    height: 60vh;
    background-color: #ff8a65;
    border-top-left-radius: 42rem;
    border-top-right-radius: 42rem;
    border-bottom-right-radius: 42rem;
    border-bottom-left-radius: 42rem;
}

.get-started-content .row {
    padding: 25vh 0;
}

.get-started-content a {
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    font-size: 162%;
    background-color: #039be5;
    color: #fff !important;
    transition: 0.3s;
}

.get-started-content a:hover {
    /* color: #0a0a0a; */
    background-color: #12e32a;
    /* text-decoration: none; */
}

/* get-started-buttons css end here*/

/* footer css starts here */
footer {
    background-color: #e7cdc1;
}

.footer-copyright {
    color: #a9a9a9;
    text-align: center;
    padding-top: 16px;
}

.footer {
    background-color: #292828;
    /* font-size: 13px; */
}

.footer-container {
    padding: 24px;
}

#contactme {
    color: #e4eff2;
    font-size: 35px;
}

.social-icons li {
    list-style: none;
    display: inline;
    padding: 0.5rem;

}

.social-icons {
    padding-left: 0px;
}

.github {
    color: #eff3f6;
    margin: 10px;
}

.linkedin {
    color: #f2f6f8;
    margin: 10px;
}

.instagram {
    color: #f2f6f8;
    margin: 10px;
}

.facebook {
    color: #f2f6f8;
    margin: 10px;
}

.twitter {
    color: #f2e9e4;
    margin: 10px;
}

.youtube {
    color: #f2e9e4;
}

a .fab:hover {
    color: #f389b3;
}

/* footer css ends here  */


.container-fluid {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -104px;
    margin-left: -197px;
}

.features {
    color: #0c0b0b;
}

.feat {
    margin: 5px;
    color: #0f0f0f;
    font-size: 1.2rem;
}

.feat2 {
    margin: 5px;
    color: #fcf8f8;
    font-size: 1.2rem;
}

.feat1 {
    margin: 5px;
    color: #fbfefe;
    font-size: 0.9rem;
}

/* footer css end here */